.room-list{
    color: #fff;
    font-size: 18px;
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.room-list .item{
    font-weight: 500;
    padding: 1.5em;
    border-bottom: 2px solid #222222;
}

.room-list .item-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-list .item:first-child{
    border-top: 2px solid #222222;
}

.room-list .item-edit{
    flex: 0 0 70px;
    font-size: 16px;
    padding: 10px;
}